/* Normalizing */
:root{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* body */
body{
    background-color: white;
    overflow-x: clip;
    font-family: 'Open sans',sans-serif;
}




/* Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 4rem;
    background:linear-gradient( #8a6cf4, #baadea);
    display: flex;
    justify-content: right;
    align-items: center ;
    border-radius: 0 0 1rem 1rem;
}


#navbar{
    padding-right: 1rem;
}

#navbar a{
    font-size: 1.5rem;
    font-weight: 1000;
    background:linear-gradient(#252134,#3f17d0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: unset;
    margin-right: 1rem;
}

/* main */

.section{
    padding:60px 0;
    width: 95vw;
    min-height: min(100vw,50vh);
    display: flex;
    flex-direction: column;
    margin: 5vw auto;
    border-radius: 3rem;
    box-shadow: 0px 0px min(40px,5vw) black;
}

.section-title{
    font-size: 2.5rem;
    color: white;
}

.even{
    background:linear-gradient(#744B8E,#3B1255) ;
}

.odd{
    background:linear-gradient(#4E648E,#152B55) ;
}

/* welcome section */
#welcome-section{
    height: min(75vw,75vh);
    justify-content: center;
    color: white;
    font-weight: 900;
}

#welcome-section h1{
    font-size: 3rem;
}
#welcome-section p{
    font-size: 1.5rem;
}

#welcome-section hr{
    width: 30rem;
    border: 0;
    background-color: white;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto;
}
/* project section */

#projects{
    color: white;
    align-items: center;
}

.project-tiles{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}

.project-tile{
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    background: linear-gradient(#152B55,#061739);
    border-radius: 2rem;
    box-shadow: 0px 0px 1rem 5px white;
}

.project-title{
    height:7.5% ;
}

img{
    width: 90%;
    height: 75%;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 2rem;
    transition: all 5s ease;
}

img:hover{
    object-fit:scale-down;
}

.button-container{
    width: 95%;
    height: 14%;
    /* background: linear-gradient(#877CB0,#605293); */
    background: linear-gradient(#2D4471,#152B55);
    margin: 0 auto 1% auto;
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-container a{
    height: 60%;
    width: 30%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-decoration: unset;
    color: white;
    font-size: 1.5rem;
    font-weight: 1000;
    border:1px solid orangered;
}

.button-container a:hover{
    transform: scale(1.1);
}

/* Contact section */
#contact{
    color: white;
    justify-content: space-around;
    align-items: center;
}

#contact p{
    color: white;
    font-size: 3rem;
    font-weight: 1000;
    text-decoration: underline;
}

#contact div{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

i{
    color: black;
    font-size: 5rem;
}


/* Footer */

footer{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background-color: #baadea;
}
/* Responsive changes */
@media only screen and (max-width:550px){
    :root{
        font-size: 8px;
    }
}


