

*,::after,::before{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

body{
    background-color: #f5f5f5;
    text-align: center;
    width: 100%;
}

section{
    width: 90vw;
    margin: 10px 5vw 10px 5vw;
    border-radius: 20px;
    padding: 70px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-title{
    text-transform: capitalize;
}

.even{
    /* background-color: #ffe4c47f; */
    background: linear-gradient(90deg,#fcb35b7f,#f4c3877f);
}

.odd{
    /* background-color: #7fffd47f; */
    background: linear-gradient(90deg,#52f2bd7f,#7fffd47f);
}

/*header part*/

header{
    position: fixed;
    width: 100%;
    min-height: 50px;
    padding-bottom: 5px;
    top: 0;
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
    align-items: center;
}

#header-img{
    width: 50px;
    height: 50px;
    background-color: #f5f5dc;
}

header h1{
    font-size: 2.5rem;
    color: blueviolet;
}

#nav-bar{
    display: inline-block;
}

.nav-link{
    text-decoration: unset;
    color:#01232D;
    background-color: wheat;
    margin-right: 20px;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    text-transform: capitalize;

}
/* into section */
#intro-section{
    margin-top: 100px;
}

p.text.big{
    font-size: 3.5rem;
    font-weight: 1000;
    text-transform: capitalize;
    color: rgb(149, 107, 0);
}

/* features section */
#feature-section{
    display: flex;
    justify-content: center;
    
}

#feature-section ul{
    margin-top: 20px;
    text-align:left;
    font-family: 'Open sans',sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    list-style-type: square;
    color: #2d4d56;
}

/* video section */
#video-section{
    justify-content: center;
}

#video-section iframe{
    max-width: 500px;
    max-height: 300px;
    width: 85vw;
    height: 50vw;
}


/*pricing section*/
#pricing-section{
    display: flex;
    align-content: center;
}

.price-list-container{
    width: 90%;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.price-list{
    text-align: left;
    width: 250px;
    height: 350px;
    padding: 2vw;
    margin-bottom: 2vw;
    padding-left: 20px;
    background:linear-gradient(#5895eb,#2f5fee);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    color: #01232D;
}

.price-list-header{
    text-align: center;
    font-size: 20px;
}

.price-list ul{
    list-style-type:none;
    font-size: 16px;
    font-weight: 600;
}

.price-list button{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background:linear-gradient(#8da6f2,#6588f3);
    font-weight: 700;
}

.price-list button:hover{
    cursor: pointer;
}


/*contact section*/
#contact-section{
    display: flex;
    align-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    height: 50%;
    min-height: 50px;
    background-color: #799ea8;
    text-align: left;
    padding: 5%;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    
}

#contact-section label,#contact-section input{
    width: 100%;
}

#contact-section input[type="email"]{
    min-height: 25px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
}

#contact-section input[type="submit"]{
    min-height: 30px;
    max-width: 70px;
    border: 0;
    border-radius: 5px;
    margin:20px auto 0 auto;
}



@media only screen and (max-width:715px){
    :root{
        font-size: 10px;
    }
    
    #header{
    justify-content: center;
    }

    
    #header-img{
        width: 30px;
        height: 30px;
    }

    .nav-link{
        padding:0 10px;
        margin: 0;
    }

    section{
        margin-right: 10px;
        overflow: hidden;
    }
}